<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
        akka {
					actor {
						provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
            
            deployment {
              /backend {
                router = round-robin-group
                nr-of-instances = 10
                routees.paths = ["/user/backend"]
                cluster {
                  enabled = on
                  allow-local-routees = on
                  use-role = backend
                }
              }          
            }
          }
          
          remote {
		        log-remote-lifecycle-events = DEBUG

            helios.tcp {
			        hostname = "127.0.0.1"
			        port = 10000
		        }
          }
          
					cluster {
						seed-nodes = ["akka.tcp://ClusterSystem@127.0.0.1:10000"]
						roles = [frontend]
						auto-down-unreachable-after = 10s
					}
        }
      ]]>
    </hocon>
  </akka>
</configuration>